<%= javascript_include_tag 'home' %>
<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6 text-center mt-4 centered-column-container div-height">
    <button type="button" class="btn btn-primary btn-lg github-button" data-toggle="modal" data-target="#authModal">
      Github
    </button>
      <%= render '/shared/alerts' %>
  </div>
  <div class="col-md-3"></div>
</div>

<!-- AuthModal -->
<div class="modal fade" id="authModal" tabindex="-1" role="dialog" aria-labelledby="authModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header bg-color text-white">
        <h5 class="modal-title" id="authModalLabel">Authorize with Github</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body bg-color">
        <div id="alert-auth"></div>
        <div class="text-center mt-4">
          <% if github_current_user %>
              <%= button_to "Authorized", "/auth/github", class: "btn btn-primary btn-lg auth-button", data: { turbo: false }, disabled: true %>
          <% else %>
              <%= button_to "Authorize", "/auth/github", class: "btn btn-primary btn-lg auth-button", data: { turbo: false } %>
          <% end %>
          <div class="mt-4 mb-4 space-between-container">
            <button id="cancel-btn" class="btn btn-primary btn-lg cancel-button" <% if github_current_user %> <% else %>disabled<% end %>>Cancel</button>
            <%= button_to 'Next', github_import_repos_path, id: 'next-button', class: 'btn btn-primary btn-lg next-button' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
