<!-- Include your custom JavaScript file -->
<%= javascript_include_tag 'edit_importing_project' %>
<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6 text-center mt-4 centered-column-container div-height">
  </div>
  <div class="col-md-3"></div>
</div>

<!-- Modal for Project Importing -->
<div class="modal fade show" id="importingProjectModal" tabindex="-1" role="dialog" aria-labelledby="importingProjectModalLabel" aria-hidden="true" style="display: block;">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="background-color: #2b2f35; border: 1px solid #565c67; box-shadow: 0 4px 8px rgba(0,0,0,0.15);">
      <div class="modal-header bg-color text-white">
        <h5 class="modal-title" id="importingProjectModalLabel">Project <%= @project.name %> Importing</h5>
        <button type="button" class="close" onclick="window.location.href='<%= root_path %>'" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body bg-color">
        <%= render 'shared/alerts' %>
        <%= form_with(model: @project, url: update_importing_project_path(@project.name), local: true) do |form| %>
          <!-- Use project_name instead of project_id -->
          <%= form.hidden_field :project_name, value: @project.name %>

          <!-- Row with Label and Textbox in the same line -->
          <div class="form-group d-flex align-items-center">
            <%= form.label :prefix, "Prefix", class: "text-white mr-2" %>
            <%= form.text_field :prefix, class: "form-control restricted-input prefix-field", required: true, style: "flex-grow: 1;" %>
          </div>

          <div class="d-flex justify-content-between mt-4 mb-4">
            <button type="button" onclick="location.href='<%= request.referer %>'" class="btn btn-primary btn-lg" style="background-color: #9929BD; border-color: #9929BD">Cancel</button>
            <%= form.submit 'Next', class: 'btn btn-success btn-lg', style: "background-color: #9929BD; border-color: #9929BD;" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
